@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

title{
    text-align: center;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'B612', sans-serif;

}

/* Header */

.header{
    width:100%;
    height:80px;
    display:flex;
    background-color: #FFFFFF;
    position: fixed;
    justify-content: space-between;
    text-align: center;
    padding:15px 30px;
    z-index: 3;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo img {
    float: left;
    width: 400px;
    height: auto;
    background: #FFFFFF;
    cursor: pointer;
  }
  
.header h1 {
position: relative;
top: 18px;
left: 10px;
}

.search_bar{
    height:50px;
    width:600px;
    border-bottom: 2px solid #D9D9D9;

}

.search_bar input{
    width:calc(600px - 80px);
    padding: 10px 15px;
    margin-right: 15px;
    font-size:1.2rem;
    background-color: transparent;
    outline:none;
    border:none;
    color:black;
    text-align: center;
}

.fa-search{
    color:#767676;
 }

.fa-star-o{
    color:#767676;
}
.collect{
    height:60px;
    width:60px;
    padding: 10px 15px;
    float:right;
}

.header h2{
    color:#99876D;
    margin-right:10px;
    padding-top: 3px;
}

.related-btn{
    display: flex;
    height:48px;
    line-height: 48px;
    text-align:center;
}

.button-box{
    position:relative;
    border-radius: 30px;
    background:#FFFFFF;
    border: 2px solid #A19481;
    width:250px;
    height:48px;

}
.toggle-btn{
    margin: 0 20px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative;
    text-align: center;
    color:#A19481;
    font-size: 20px; 
    height:48px;
    line-height:48px;
}
#btn{
    left:0;
    top:0;
    position:absolute;
    width:130px;
    height:100%;
    background:#A19481;
    border-radius: 30px;
    transition: .5s;
}

.active, .btn:hover{
    background:#af9c7e;
}

.back{
    position:fixed;
    left:30px;
    top:100px;
}
.back img{
    width:50px;
    height:50px;
}
/* information styles */
.information{
    width: 95%;
    height:auto;
    float:right;
    background:#FAF6EA;
    display:flex;
    padding:40px 0 40px 0;
}
.preview{
    width:100%;
    height:100%;
    text-align: center;

}
.preview img{
    width:70%;
    height:auto;
}
#icons{
    position:absolute;
    top:90%;
    left:55%;
}

#icons img{
    width:50px;
    margin:0 20px 0 0;
}


/* content */
#content{
    max-width:100%;
    display:flex;
    grid-template-columns: 33.3% 16.7% 16.7% 16.7% 16.7%;
    justify-content:space-between;
}

#main{
    width: 33.3%;
    margin:80px 10px 0 10px;
    text-align:center;
    height:93vh;
    background:#A19481;
    color:#fff;
    position: relative;
    cursor:pointer;
}
#main img{
    opacity:0.7;
}
.section{
    width: 16.7%;
    margin:80px 10px 0 10px;
    /*text-align:center;*/
    height:93vh;
    background:#A19481;
    color:#fff;
    position: relative;
    cursor:pointer;
    overflow: hidden;
}

.section[data-active="active"]{
    width:90%;
    height:93vh;
    opacity: 1;
    overflow-y: scroll;
}


#main[data-active="active"]{
    width:90%;
    /*height:93vh;*/
    opacity: 1;
    background-color:white;
}
#main[data-active="inactive"]{
    flex-shrink:40;
    margin-left:2.5px;
    margin-right:2.5px;
}
#main[data-active="inactive"]:hover{
    background-color:#A19481;
}
.section[data-active="inactive"]{
    flex-shrink:40;
    margin-left:2.5px;
    margin-right:2.5px;
}
.section[data-active="inactive"] .title{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 12px;
}

.section[data-active="inactive"]:hover .hover-text{
    display: none;
}
.section[data-active="inactive"]:hover .title{
    display: block;
}
.section[data-active="active"] .preview{
    display:none;
    background-color:white;
}

.section[data-active="active"] #wrapper{
    display:block;
}
.section[data-active="inactive"]:hover{
    background:#A19481;
}


.preview img{
    width: 100%;
    height:auto;
    float:left;
    margin:0 0 20px 0;
    opacity:0.3;
}



.section:after{
    content:'';
    height:100%;
    top:0;
    transition: .5s;
}

.section:hover{
    background:none;
}
.section:hover .preview{
    overflow-y: scroll;
}

.section:hover img{
    opacity:1;
}

#main:hover img{
    opacity:1;
}
#main:hover{
    background:none;
}
.section:hover .title{
    display:none;
    z-index:0;
}

.section:hover .hover-text{
    display: block;
    z-index: 2;
}
.hover-text{
    display: none;
    height: 50%;
    width:100%;
    align-items: center;
    padding:250px 20px 0 20px;
    position:absolute;
    box-sizing:border-box;
    bottom: 0;
    background:linear-gradient(to bottom, rgba(78,72,63,.01) 0,rgba(78,72,63,.25) 25%,rgba(78,72,63, .75) 75%,rgba(78,72,63, .95) 100%);
    color:white;
}

.title-to-search:hover{
    border-bottom: 2px solid white;
}
.title-to-search:hover .fa-search{
    display:block;
}
.hover-text .fa-search{
    font-size:32px;
    margin-left:10px;
    display:none;
    color:white;
}
.title-to-search{
    height:35px;
    display: inline-flex;
    padding-right:10px;
    align-items: center;
    cursor:pointer;
}

.fa-refresh{
    margin-top:40px;
    font-size:50px;
    cursor:pointer;
}
.fa-refresh:hover{
    color:#A19481;
}

.content .title{
    position:absolute;
    width:100%;
    /* margin:800px 0 0 0;*/
    bottom:10%;
    z-index:3;
    color:#FFFFFF;

}

/* Wrapper/container styles */

#wrapper {
    display:none;
    z-index: 2;
    width: 100%;
    height:auto;
    float:right;
    background:white;
    }



.fa-star-o:hover{
    color:#af9c7e;
}

#columns {
    -webkit-column-count: 6;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 6;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 6;
    column-gap: 17px;
    column-fill: auto;
    padding:70px 80px 0 80px;
    overflow-y: scroll;
}

.pin {
    display: inline-block;
    position: relative;
    margin: 0px 2px 15px 0px;
    opacity: 1;
    overflow: hidden;

}
.pin .info{
    float:left;
    display: none;
    height: 70px;
    width:100%;
    padding:0 10px 0 10px;
    position:absolute;
    box-sizing:border-box;
    bottom: 0;
    background:linear-gradient(to bottom, rgba(78,72,63,.01) 0,rgba(78,72,63,.25) 25%,rgba(78,72,63, .75) 75%,rgba(78,72,63, .95) 100%);
    color:white;
}
.pin:hover .info{
    display:block;
}
.pin .collect-btn{
    display: none;
    height:auto;
    width:25%;
    top:0;
    right:0;
    padding:10px;
    position:absolute;
}
.pin:hover .collect-btn{
    display: block;
    height:auto;
    width:25%;
    top:0;
    right:0;
    padding:10px;
    position:absolute;
}

.pin img {
    width: 100%;
}

.pin p {
    font: 12px/18px;
    color: white;
}

.pin:hover {
    cursor: pointer;
}

.collection-pop{
    position:fixed;
    top: 20px;
    right: 20px;
    bottom: 20px;
    border-radius:20px;
    z-index:10;
    background-color:white;
    width:30%;
    height:96vh;
    max-width:80%;
    display: none;
}

.collection-header{
    padding:15px 15px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom:1px solid #D9D9D9;
}

.collection-header .title{
    font-size:1.5rem;
}

.collection-header .fa-close{
    font-size:2rem;
    top:0px;
    cursor:pointer;
    border:none;
    outline:none;
    background: none;
    color:#767676;
}

.collection-body{
    padding:10px 15px;
    display:flex;
    justify-content: center;
}

#overlay{
    z-index:5;
    display: none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,.5);
}
#overlay.active{
    display: block;
}


.collection-pop.active{
    display:block;
}

.collection-body #columns{
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 17px;
    column-fill: auto;
    overflow-y: scroll;
    padding:30px 30px 0 30px;

}

img[src=""] {
    display: none;
}

.section-textbox{
    position:fixed;
    width:86%;
    z-index: 2;
    padding:15px 0;
    color:white;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.section-textbox .section-text{
    padding:0 10px;
    font-size:2rem;
    background-color: #A19481; 
}

.section-textbox .fa-close{
    cursor:pointer;
    border:none;
    outline:none;
    background: none;
    color:#767676;
    font-size:40px;
}
.section-textbox .fa-close:hover {
    color:#af9c7e;
}

#download-btn{
    width: 150px;
    height: 60px;
    line-height:60px;
    border-radius: 100px;
    bottom:5%;
    position:absolute;
    background-color:#D34343;
    text-align: center;
    color:white;
    cursor: pointer;
}
#download-btn:hover{
    background-color:#d97575;
}